.stf-logs(ng-controller='LogsCtrl')
  //- .widget-container.fluid-height
  //-   .widget-content
  table.table.table-condensed.logcat-filters-table(ng-show='true')
    tr
      td(width='1%', id='logcat', ng-show="!isWatchMode")
        //- button(ng-model='started', uib-btn-checkbox, title='{{"Start/Stop Logging"|translate}}').btn.btn-xs.btn-primary-outline
        button.btn.btn-outline-secondary(ng-model='started', uib-btn-checkbox, title='Включить', style="width:110px")
          span.material-symbols-outlined.me-2(style="font-size: 6px; scale: 2") planner_review
          span(ng-if='started') На  паузу
          span(ng-if='!started') Включить
      td(width='6%')
        select.form-select.form-control(style="width: 11rem; height: 26px;padding: 2.5px 12px 3.68px;", ng-model='filters.priority', data-ng-options='l.name for l in filters.levelNumbers')
          option(value='') {{"Критичность"}}

      //- td(width='10%')
      //-   input(ng-model='filters.date', type='text', placeholder='{{"Time"|translate}}', ng-keyup='validateDate(event=$event)').input-sm.form-control
      //- td(width='8%', ng-if='$root.platform == "native"')
      //-   input(ng-model='filters.pid', type='text', placeholder='{{"PID"|translate}}').input-sm.form-control
      //- td(width='8%', ng-if='$root.platform == "native"')
      //-   input(ng-model='filters.tid', type='text', placeholder='{{"TID"|translate}}').input-sm.form-control
      //- td(width='14%', ng-if='$root.platform == "native"')
      //-   input(ng-model='filters.tag', type='text', placeholder='{{"Tag"|translate}}').input-sm.form-control
      td(width='50%')
        input(style="height: 26px;", ng-model='filters.message', type='text', placeholder='{{"Фильтр (подстрока)"}}').input-sm.form-control
      td(width='0')
        //- button(ng-click='clearTable()', ng-disabled='false', title='{{"Clear"|translate}}').btn.btn-xs.btn-danger-outline
        button.btn.btn-outline-secondary(ng-click='saveLogs()', title='Сохранить в файл', style="min-width: 12px")
          span.material-symbols-outlined(style="font-size: 6px; scale: 2.5") save
        span.me-2
        button.btn.btn-outline-secondary.me-2(ng-click='clearTable()', title='Очистить таблицу', style="min-width: 12px")
          span.material-symbols-outlined(style="font-size: 6px; scale: 2.5") delete
      //- td(width='0')
      //-   button(ng-click='saveLogs()', ng-disabled='false', title='{{"Save Logs"|translate}}').btn.btn-xs.btn-danger-outline
      //-     i.fa.fa-save
      //-     span(translate)  Save Logs

  logcat-table(add-row='lastEntry', style="position: relative; height: 60vh; top: 0; background: transparent")
