.widget-container.fluid-height.stf-remote-debug.mb-4(ng-controller='RemoteDebugCtrl', style="padding: 0; height: 20px;")
  textarea.form-control(id="adb-port", style="border: none; min-height: inherit; width: 100%; padding: 0 !important; height: 20px;background-color: black !important", readonly, ng-model='debugCommand')
//-   .heading
//-     stacked-icon(icon='fa-bug', color='color-darkgreen')
//-     span(translate) Remote debug yebat
//-     help-icon(topic='Remote-Debug', uib-tooltip='{{remoteDebugTooltip | translate}}')

//-   .widget-content.padded
//-     .form-inline
