div(ng-controller='ScreenshotsCtrl')
  h5.mb-3.d-flex.align-items-center Скриншоты
    span.material-symbols-outlined.ms-2.fs-5.text-muted(data-tippy-content="<p>Захватить кадр с устройства в оригинальном качестве (pixel perfect)<div>Если что-то идёт не так – проверь, что файловая система девайса позволяет писать в <tt>sdcard/Downloads</tt>") help

  button.btn.btn-outline-secondary(ng-click='takeScreenShot()', style="margin: 1em 1em 0 0 !important;")
    span.material-symbols-outlined(style="font-size: 7px; scale: 2") screenshot_monitor
    span.ms-3 Сделать скриншот
  button.btn.btn-outline-secondary(ng-click='clear()', style="margin: 1em 1em 0 0 !important;")
    span.material-symbols-outlined(style="font-size: 7px; scale: 2") delete
    span.ms-3 Удалить скриншоты

  h6.mt-5(ng-show='!screenshots.length') Скриншотов пока нет. Самое время их сделать!
  .screenshots-grid.mt-4(style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 8px; max-width: 400px; margin: 0 auto;")
    li.screenshot-item(ng-repeat='shot in screenshots' style="list-style: none;")
      a(ng-href='{{shot.body.href}}' target='_blank' style="display: block; height: 0; padding-bottom: 56.25%; position: relative; overflow: hidden; border-radius: 5px; border: solid 1px #333;")
        img(
          ng-src='{{shot.body.href + shotSizeParameter(133, 1)}}'
          ng-srcset='{{shot.body.href + shotSizeParameter(266, 1)}} 2x'
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
          title=`Скриншот от {{ shot.body.date | date:'HH:mm:ss' }}`
          loading="lazy"
        )

  h5.mb-3.mt-3.d-flex.align-items-center Запись экрана
    span.material-symbols-outlined.ms-2.fs-5.text-muted(data-tippy-content="<p>Записать видео с твоими действиями в формат <tt>webm</tt><div>⚠️ Не забудь разрешить запись экрана в настройках браузера!") help

  button.btn.btn-outline-secondary(id="startRecordBtn", style="margin: 1em 1em 0 0 !important;") Начать запись
  button.btn.btn-outline-secondary(id="stopRecordBtn") Остановить запись
  h6.mt-3(id="recordTimer")