div(ng-controller='InputAdvancedCtrl')

  mixin mediaButton(action, icon, tooltip, width)
    button.btn.btn-outline-secondary(
      style=`margin: 1em 1em 0 0 !important; min-width: ${width}px;`,
      ng-click=`press("${action}")`,
      data-tippy-content=tooltip
    )
      span.material-symbols-outlined(style="font-size: 7px; scale: 3")= icon

  h5.mb-3.d-flex.align-items-center Громкость и звук
    span.material-symbols-outlined.ms-2.fs-5.text-muted(data-tippy-content="<p>Регулировка громкости на устройстве.<div>Mute иногда может не работать на конкретном девайсе – тогда пользуйся кнопкой уменьшения громкости") help

  div.alert.alert-info.mt-4
    div.d-flex
      span.material-symbols-outlined.me-2.fs-1.text-muted warning
      div.small.text-secondary <b>Не включай звук</b> на девайсе без необходимости!<br>В офисе работают твои коллеги, побереги их уши

  - let btnWidth = 109
  +mediaButton("mute", "no_sound", "Mute: выключить звук", btnWidth)
  +mediaButton("volume_down", "volume_down", "Уменьшить громкость", btnWidth)
  +mediaButton("volume_up", "volume_up", "Увеличить громкость", btnWidth)

  h5.mt-5.mb-3.d-flex.align-items-center Мультимедиа
    span.material-symbols-outlined.ms-2.fs-5.text-muted(data-tippy-content='<p>Эмуляция кнопок "богатых" пультов с кнопками перемотки, паузы, и прочими штуками') help

  - btnWidth = 50
  +mediaButton("media_previous", "skip_previous", "Предыдущий трек", btnWidth)
  +mediaButton("media_rewind", "fast_rewind", "Перемотка назад", btnWidth)
  +mediaButton("media_play_pause", "play_pause", "Играть / Пауза", btnWidth)
  +mediaButton("media_stop", "stop", "Остановить плейбек", btnWidth)
  +mediaButton("media_fast_forward", "fast_forward", "Перемотка вперёд", btnWidth)
  +mediaButton("media_next", "skip_next", "Следующий трек", btnWidth)

  h5.mt-5.mb-3.d-flex.align-items-center ТВ-пульт
    span.material-symbols-outlined.ms-2.fs-5.text-muted(data-tippy-content='<p><b>Подсказка</b>: Гораздо удобнее использовать стрелки на клавиатуре!<div>Просто нажми мышкой на экран, и всё заработает') help

  - btnWidth = 62
    +mediaButton("dpad_up", "arrow_upward_alt", "Джойстик: вверх", btnWidth)
    +mediaButton("dpad_down", "arrow_downward_alt", "Джойстик: вниз", btnWidth)
    +mediaButton("dpad_center", "target", "Джойстик: ОК", btnWidth)
    +mediaButton("dpad_left", "arrow_left_alt", "Джойстик: влево", btnWidth)
    +mediaButton("dpad_right", "arrow_right_alt", "Джойстик: вправо", btnWidth)

  h5.mt-5.mb-3.d-flex.align-items-center Служебное
    span.material-symbols-outlined.ms-2.fs-5.text-muted(data-tippy-content='<p>Системные кнопки, обычно аппаратные. Будьте с ними аккуратнее :)') help

  - btnWidth = 80
    +mediaButton("power", "mode_off_on", "Кнопка питания (на свой страх и риск!)", btnWidth)
    +mediaButton("camera", "monochrome_photos", "Запуск камеры", btnWidth)
    +mediaButton("search", "search", "Кнопка поиска", btnWidth)
    +mediaButton("switch_charset", "language", "Переключить раскладку", btnWidth)
